<div class="dynamic-field form-autocomplete" [formGroup]="group">
  <mat-form-field>
    <input 
    type="text"
    matInput 
    [placeholder]="config.placeholder" 
    [formControlName]="config.name" 
    [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="display">
      <mat-option *ngFor="let record of records" [value]="record">
        {{ record.username }}
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="!valid">{{ getError() }}</mat-error>
  </mat-form-field>
</div>