<div fxLayout="row" fxFlex="60">
    <mat-card>
      <mat-card-title>Create</mat-card-title>
      <mat-card-content>
          <app-message></app-message>
          <form [formGroup]="form">
              <mat-form-field class="content-type-title">
                <input placeholder="Title" matInput type="text" formControlName="title"/>
                <mat-error *ngIf="form.get('title').errors">error</mat-error>
              </mat-form-field>
              <div formArrayName="fields">
                <div *ngFor="let item of fields.controls; let i = index" [formGroupName]="i" fxLayout="row" fxLayoutAlign="space-between center">
                  <mat-form-field>
                    <input placeholder="Field Title" type="text" matInput formControlName="title"/>
                  </mat-form-field>
                  <mat-form-field>
                    <input placeholder="Field Type" type="text" matInput formControlName="type"/>
                  </mat-form-field>
                  <button mat-icon-button type="button" (click)="deleteSellingPoint(i)">
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
              </div>
              <button mat-raised-button type="button" (click)="addNext()">Add Field</button>
          </form>
      </mat-card-content>
    </mat-card>
  </div>