<div class="dynamic-field form-input" [formGroup]="group">
  <label *ngIf="config.label">{{ config.label }}</label>
  <mat-form-field>
    <input matInput
      [type]="hide ? 'password' : 'text'"
      autocomplete="password"
      [placeholder]="config.placeholder"
      [errorStateMatcher]="errorStateMatcher"
      [formControlName]="config.name"
    >
    <button
      tabindex="-1"
      mat-icon-button 
      matSuffix type="button" 
      (click)="hide = !hide"    
      [attr.aria-label]="'Hide password'" 
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="!valid">{{ getError() }}</mat-error>
  </mat-form-field>
</div>