  <!-- <mat-sidenav-container fullscreen>
      <mat-toolbar color="primary">
          <mat-toolbar-row>
            <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
              <mat-icon>menu</mat-icon>
            </button>
            <span>Responsive Navigation</span>
            <span class="menu-spacer"></span>
            <div fxShow="true" fxHide.lt-md>
              <a routerLink="/admin/posts" mat-button>Menu Item 1</a>
              <a routerLink="/admin/users" mat-button>Menu Item 2</a>
              <a href="#" mat-button>Menu Item 3</a>
              <a href="#" mat-button>Menu Item 4</a>
              <a href="#" mat-button>Menu Item 5</a>
              <a href="#" mat-button>Menu Item 6</a>
            </div>
          </mat-toolbar-row>
        </mat-toolbar>
    <mat-sidenav mode="over" #sidenav>
      <div class="sidenav-container">
        <mat-nav-list (click)="sidenav.toggle()">
          <a routerLink="/admin/posts" mat-list-item>Menu Item 1</a>
          <a routerLink="/admin/users" mat-list-item>Menu Item 4</a>
          <a href="#" mat-list-item>Menu Item 5</a>
          <a href="#" mat-list-item>Menu Item 6</a>
        </mat-nav-list>
        <mat-nav-list class="bottom-menu">
          <a href="#" mat-list-item>Menu Item 2</a>
          <a href="#" mat-list-item>Menu Item 3</a>
        </mat-nav-list>
      </div>
    </mat-sidenav>
  </mat-sidenav-container> -->
<div class="docs-navbar-wrapper mat-elevation-z6">
  <nav class="docs-navbar-header"
      [class.is-next-version]="isNextVersion">
    <a mat-button class="docs-button" routerLink="/" aria-label="Angular Material">
      <span>Home</span>
    </a>
    <a mat-button class="docs-navbar-hide-small docs-button"
      [routerLink]="['posts']">Content</a>
    <a mat-button class="docs-navbar-hide-small docs-button" [routerLink]="['users']">Users</a>
    <div class="flex-spacer"></div>
    <a mat-button class="docs-button" href="https://github.com/angular/components"
      aria-label="GitHub Repository">
      erer
    </a>
  </nav>
  <nav class="docs-navbar docs-navbar-show-small">
    <a mat-button class="docs-navbar-link"
      [routerLink]="['/posts']">Content</a>
    <a mat-button class="docs-navbar-link" [routerLink]="['users']">Users</a>
  </nav>
</div>