@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.register-main {
  margin-top: 10%;
}

.social-button {
  display: block;
  width: 100%;
  margin-bottom: 15px; 
}

mat-card {
  width: 400px;
}

mat-card-title {
  text-align: center;
  
  &, mat-card-content {
    display: flex;
    justify-content: center;
  }
}

:host ::ng-deep {
  .dynamic-form {
    &, mat-form-field {
      width: 100%;
    }
  }
}

.login-link {
  position: absolute;
  bottom: 16px;
  right: 16px;
}
