.login-main {
  margin-top: 10%;
}

mat-card {
  width: 400px;
}

mat-card-title, mat-card-content {
  display: flex;
  justify-content: center;
}

mat-form-field, form {
  width: 100%
}

.form-action {
  display: flex;
  justify-content: space-between;
}

mat-spinner {
  display: inline;
  margin: 7px;
}