<div fxLayout="row" fxLayoutAlign="center center" class="login-main">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        <app-message></app-message>
        <app-dynamic-form
          class="dynamic-form"
          [config]="config"
          #form
          (submit)="submit($event)">
        </app-dynamic-form>
        <span class="register-link">Don't have account?
          <a mat-button [routerLink]="['/register']">Register</a>
        </span>
    </mat-card-content>
  </mat-card>
</div>