table {
  width: 100%;
}

th {
  text-align: left;
}

.posts-container {
  position: relative;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-records {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  height: 48px;
}

.page-selector {
  width: 30px;
  margin-left: 10px;
  font-size: 14px;
}

.page-selector-label {
  font-size: 12px;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  color: rgba(0,0,0,.54);
}